
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f4fadd;
    }

    .head{
      height: 20%;
      width: 100%;
      background-color: blue;

    }

    .fake{
      height: 250px; 
      width: 100%;
    }

    .box{
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* margin: 20px; */
    }

       .box1{
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }




    .header {
      position: fixed;
      /* top: 0; */
      /* left: 0; */
      height: 40px;
      width: 100%;
      padding: 15px;
      border-bottom: 3px solid black;
      font-size: 20px;
      background-color: rgb(6, 56, 235);
      /* z-index: 1000; */
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }
    